<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div>
<a href="<%= sectionUrl%>cat" target=<%=target%>>link to cat</a>
</div>
  <a href="<%= sectionUrl%>horse" target=<%=target%>>link to horse</a>
</body>
<script type="text/javascript">
</script>
</html>
