<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<h1><%= sectionUrl %></h1>
<h1><%= target %></h1>
<a href="<%= sectionUrl%>my-internal-page" target=<%=target%>>link</a>

  <% include ../partials/nav.ejs %>

</body>
<script type="text/javascript">
</script>
</html>
